/* import fonts */
@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* Start navigation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.hide{
  display: none;
}

/* Start Project Area */
.project-area{
  padding: 4rem 0;

}
.project-area .container .button-group button{
  background: transparent;
  border: none;
  font:normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
  margin-bottom: 10px;
  
}
.project-area .container .button-group button + button{
  padding-left: 3rem;
}
.project-area .container .grid .our-project > .title h4{
  font:normal 700 25px/23px var(--roboto);
}

/* making modal */
#blur.container.active{
  filter:blur(160px);
  pointer-events: none;
  user-select: none;
}

.popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 600px; */
  padding:50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition:0.7s;
}
.popup.active{
  top:50%;
  visibility: visible;
  opacity: 1;
  transition:0.7s;
  background: #fff;
  
}
.pop{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  ;
}
.pop-link{
  margin-top: 12px;
  color:#21bcad;
}
.project-area .our-project .title h4{
  font-size:1vw !important;
}
div.pop-footer button{
  border:1px solid grey;
}
/* end modal */
/* End Project Area */

/* .our-project .title h4{
 font-size: 1vw !important;
} */

@media only screen and (max-device-width: 480px) {
  .phone_image{
    width: 365px;
    margin-top: 13px;
  }
  .mobile_version_skill h3{
    font-size: 0.5rem;
  }
  .fixed_font{
    font-size: 0.5rem;
  }
.lap h4{
    font-size: 0.7rem;
  }
  .b-current{
    display: none;
  }
  .b-selector .b-current{
    display: none;
  }
  .b-selector .b-selector-chapter .b-current{
    display: none;
  }
  span.b-current{
    display: none;
  }
  .scrollcss{

    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: auto;
    
  }

  
  .site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 434 12px/30px var(--roboto);
    text-transform: uppercase;
  }
  .site-main .project-area .button-group button + button {
    padding-left: 1rem;
    display: block;
  }
  .w-75 {
    width: 100%!important;
  }
}


/* project area */
.project-area .our-project .img img{
  width: 100%;
  height: 100%;
}
/*
* ==========================================================
*     FOOTER
* ==========================================================
*/
footer.main-footer {
  background: #0e0e0e;
  padding: 100px 0 0;
  color: #fff;
  margin-top: 120px;
}

footer.main-footer .contact-details p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
  font-size: 0.95em;
}

footer.main-footer .contact-details a {
  text-decoration: underline;
  margin-bottom: 0;
}

footer.main-footer a {
  color: inherit;
  font-weight: 300;
  margin-bottom: 7px;
}

footer.main-footer a:hover, footer.main-footer a:focus {
  color: #999;
}

footer.main-footer ul {
  margin-right: 30px;
}

footer.main-footer .list-unstyled a {
  font-size: 0.95em;
}

footer.main-footer .latest-posts .image {
  max-width: 50px;
  padding: 4px;
  border: 2px solid #333;
  margin-right: 10px;
}

footer.main-footer .latest-posts a {
  font-size: 0.95em;
  text-decoration: none;
}

footer.main-footer .latest-posts a:hover {
  color: #fff;
}

footer.main-footer .latest-posts strong {
  display: block;
}

footer.main-footer .latest-posts .date {
  font-size: 0.85em;
  color: #aaa;
}

footer.main-footer .copyrights {
  background: #090909;
  margin-top: 100px;
  padding: 20px 0;
  font-size: 0.9em;
}

footer.main-footer .copyrights * {
  margin-bottom: 0;
}

footer.main-footer .social-menu {
  margin-top: 20px;
}

footer.main-footer .social-menu li {
  padding: 0 5px;
}

footer.main-footer .date::after,
footer.main-footer .title::after {
  display: none !important;
}

/* Footer Media Query ------------------------------------- */
@media (max-width: 767px) {
  footer.main-footer div[class*="col-"] {
    margin-bottom: 40px;
  }
  footer.main-footer div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }
  footer.main-footer .latest-posts > a {
    width: 100%;
    margin-bottom: 20px;
  }
  footer.main-footer .copyrights div[class*="col-"] {
    margin-bottom: 20px;
    text-align: center !important;
  }
  footer.main-footer .copyrights div[class*="col-"]:last-of-type {
    margin-bottom: 0;
  }
}